.btnContainer {
  position: relative;

  background: linear-gradient(to bottom, rgb(202, 176, 59), hsl(0, 4%, 80%));
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: var(--text-transform, capitalize);
  border: 1px solid bisque;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 1;
}
.btnContainer:is(:hover, :focus) {
  color: black;
  background: linear-gradient(to bottom, rgb(235, 147, 6), hsl(0, 4%, 80%));

  border-color: orangered;
  cursor: pointer;
}
.btnContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgb(248, 217, 81), hsl(0, 4%, 80%));
  transition: var(--transition);

  z-index: -1;
}
.btnContainer :is(:hover, :focus)::before {
  width: 100%;
}
