.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  color: bisque;
  text-decoration: none;
}

.icon {
  padding-top: 3px;
}
.logoImage {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  /* color: bisque; */
}
.link {
  color: bisque;
  text-decoration: none;
}

.link:is(:hover, :focus) {
  color: var(--orange-soda);
}

.logout {
  padding: 5px;
  border: none;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}
