.container {
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  gap: 2px;
  align-items: center;
}

.icon {
  cursor: pointer;
  padding-top: 0px;
}
