.container {
  height: 500px;
}
.mainTitle {
  font-size: 100px;
}

.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  gap: 20px;
}
.item {
  border: 5px solid rgb(249, 171, 27);
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover ! important;
}

.item:nth-child(1){
  background: url("/architecture3.jpg");
}
.item:nth-child(2){
  background: url("/apartment1.jpg");
}
.item:nth-child(3){
  background: url("/architecture4.jpg");
}

.title{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color:orange;
  
}
