.container{
  background-color: rgb(12, 11, 9);
}
.top{
  display: flex;
}

.info{
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 40px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  padding-right: 5px;
}

.author{
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar{
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer{
  flex: 1;
  height: 350px;
  padding-top: 15px;
  position: relative;

}

.image{
  object-fit: cover;
  padding-top: 25px;

}

.content{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: bisque;
  text-align: justify;
}



